*{
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.register-page{
  margin: auto;
  width: 30%;
  padding: 10px;
  border: 1px solid black;

}
.login-page{
  margin: auto;
  width: 30%;
  padding: 10px;
  border: 1px solid black;

}

.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow:  0 0 3px gray;
}

/* icons */
.switch-icons{
  border: 0 0 15px rgba(0, 0, 0, 0.678);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg{
  font-size: 20px;
  cursor: pointer;
}
.active-icon{
  color: black;
}
.inactive-icon{
  color:gray

}
