*{
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.register-page{
  margin: auto;
  width: 30%;
  padding: 10px;
  border: 1px solid black;

}